{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install nodejs global package

source /tmp/chezmoi-utils.sh

printf "${green}[30 - macOS] ${reset}"
{{- if or (lt 10 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_NODE") }}
echo "Skip installing nodejs global packages"
exit 0
{{ else }}
echo "Install nodejs global packages"
{{- end }}

echo "Installing yarn"

npm install --global yarn


echo "Finish install yarn now installing pnpm"

npm install -g pnpm

echo "Finished install yarn and pnpm"

{{ end -}}
