{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install common macOS packages

source /tmp/chezmoi-utils.sh

printf "${green}[30 - macOS] ${reset}"
{{- if or (lt 10 (atoi (env "SCRIPTS_START_AT"))) (env "SKIP_NODE") }}
echo "Skip installing nodejs packages"
exit 0
{{ else }}
echo "Install yarn pnpm"
{{- end }}

echo "Installing yarn"

npm install --global yarn


echo "Finish install yarn now installing pnpm"

npm install -g pnpm

echo "Finished install yarn and pnpm"

{{ end -}}
